# Database Configuration
DB_USER=                   # Optional if using Trusted Connection
DB_PASSWORD=               # Leave blank if using Trusted Connection
DB_SERVER=127.0.0.1        # Or your server name
DB_INSTANCE=SQLEXPRESS     # Your instance name (e.g. SQLEXPRESS)
DB_NAME=ArtMuseum
DB_TRUSTED_CONNECTION=true 
DB_ENCRYPT=false           
